@font-face
{
    font-family: Aileron;
    src: url("ressources/font/Ailerons-Regular.otf")
}

*{
  padding: 0px;
  margin: 0px;
  font-family: Aileron;
  font-size:30px;
}
body{
  background: linear-gradient(0.25turn, #191919, #9A9A9A);
}
