@font-face
{
    font-family: Aileron;
    src: url("ressources/font/Ailerons-Regular.otf")
}
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

*{
  padding: 0px;
  margin: 0px;
  font-family: 'Gruppo';
  font-size:30px;
  color : white;
}
body{
  background-color:#9A9A9A;
}
.projet
{
  display: inline-flex;
  justify-content: space-between;
  width: 80%;
  background-color: rgb(15,15,15);
  box-shadow: 5px 5px 5px black;
  border-width: 1px;
  border-color: rgb(10,10,10);
  border-radius: 50px;
}
.project_tag
{
  display: inline-flex;
}
.project_name
{
  font-weight: bold;
}
.project_desc
{
  font-size: 20px;
}
.projet img
{
  width: 100px;
  height: 100%;
  border-radius: 20px;
}
