@font-face
{
    font-family: Aileron;
    src: url("ressources/font/Ailerons-Regular.otf")
}
body{
  background-color:white;
}
.retour
{
  text-align: center;
  color: black;
  font-family:Aileron;
  width: 100%;
  font-size: 30px;
  cursor: pointer;
}
a
{
  text-decoration: none;
}
.title{
  text-indent: 15%;
  color: black;
  font-family:Aileron;
  font-size: 30px;
}

hr{

}
.projet
{
  width: 100%;
  text-align: center;
  font-family:Aileron;
  font-size: 25px;
  display: inline-flex;
  justify-content: center;
  text-align: center;
}
.titlepro
{
  font-weight: normal;
  font-size: 25px;
  margin-right: 20px;
  border-style : solid;
  border-color: black;
  padding: 5px;
}
